<article>
  <header class="page-header">
    <h1>About us</h1>
  </header>
  <p class="lead">
    Enabling our community to access to fresh, real food at affordable prices.
  </p>
  <p>
    The Petone Real Food Buying Group is dedicated to making fresh, wholesome, preferably organic food available at an affordable price to people in our community. We do this by coming together and buying in bulk at wholesale prices, just as if we were a retailer, but without the huge markup!
    Contact Sarah for more information on 0274087708.
  </p>
</article>
