<article>
  <header class="page-header">
    <h1>Petone Real Food Buying Group</h1>
  </header>
  <p class="lead">
    Enabling our community to access to fresh, real food at affordable prices.
  </p>
  <p>
    Contact Sarah for more information on 0274087708
  </p>
</article>
